@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  padding: 1rem 2rem;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Dancing Script', cursive;
}

.main-nav {
  display: none;
}

.main-nav.is-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  padding: 1rem 0;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-nav ul li a {
  display: block;
  text-decoration: none;
  color: #FFA500;
  font-weight: 500;
  padding: 1rem 0;
  border-bottom: 2px solid transparent;
  transition: color 0.3s, border-bottom-color 0.3s;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.main-nav a:hover, .main-nav a.active {
  color: #E59400;
  border-bottom-color: #E59400;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger .line {
  width: 2rem;
  height: 0.25rem;
  background-color: #FFA500;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger.is-active .line:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger.is-active .line:nth-child(3) {
  transform: rotate(-45deg);
}

@media (min-width: 769px) {
  .main-header {
    justify-content: center;
  }

  .main-nav {
    display: flex;
    position: static;
    width: auto;
    background: none;
    padding: 0;
  }

  .main-nav ul {
    flex-direction: row;
    gap: 2rem;
  }

  .main-nav ul li a {
    font-size: 2rem !important;
    padding: 10px 5px;
    border-bottom: 2px solid #FFA500;
  }

  .hamburger {
    display: none;
  }
}
