.home-container {
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: white;
  background: transparent;
  padding-top: 15vh;
  overflow: hidden; /* Evita el scroll */
}

.profile-image {
  width: 300px; /* Ancho deseado */
  height: 300px; /* Alto deseado */
  border-radius: 20px; /* Bordes redondeados */
  margin-top: 1rem;
  margin-bottom: 1rem;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  opacity: 0.8; /* Transparencia de la imagen */
  border: 1px solid #FFA500; /* Borde naranja */
  margin-left: 5px;
  margin-right: 5 px;
}

.main-title {
  font-size: 4rem; /* Tamaño mantenido */
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
  animation: fadeInDown 1s ease-in-out;
}

.subtitle {
  font-size: 1rem; /* Tamaño mantenido */
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 2.5rem;
  animation: fadeInUp 1s ease-in-out 0.5s;
  animation-fill-mode: both;
  font-style: italic;
}

/* Animaciones para el texto */
@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
